[submodule "hardware/nvidia/platform/t19x/common"]
	path = hardware/nvidia/platform/t19x/common
	url = ../hardware/nvidia/platform/t19x/common.git
[submodule "hardware/nvidia/platform/t19x/galen/kernel-dts"]
	path = hardware/nvidia/platform/t19x/galen/kernel-dts
	url = ../hardware/nvidia/platform/t19x/galen/stardust-dts.git
[submodule "hardware/nvidia/platform/tegra/common"]
	path = hardware/nvidia/platform/tegra/common
	url = ../hardware/nvidia/platform/tegra/common.git
[submodule "hardware/nvidia/soc/t19x"]
	path = hardware/nvidia/soc/t19x
	url = ../hardware/nvidia/soc/t19x.git
[submodule "hardware/nvidia/soc/tegra"]
	path = hardware/nvidia/soc/tegra
	url = ../hardware/nvidia/soc/tegra.git
[submodule "kernel/nvgpu"]
	path = kernel/nvgpu
	url = ../kernel/linux-nvgpu.git
[submodule "kernel/nvidia"]
	path = kernel/nvidia
	url = ../kernel/linux-nvidia.git
[submodule "hardware/nvidia/platform/t19x/jakku/kernel-dts"]
	path = hardware/nvidia/platform/t19x/jakku/kernel-dts
	url = ../hardware/nvidia/platform/t19x/jakku-dts
[submodule "hardware/nvidia/platform/t19x/galen-industrial/kernel-dts"]
	path = hardware/nvidia/platform/t19x/galen-industrial/kernel-dts
	url = ../hardware/nvidia/platform/t19x/galen-industrial-dts.git
[submodule "hardware/nvidia/platform/t19x/mccoy/kernel-dts"]
	path = hardware/nvidia/platform/t19x/mccoy/kernel-dts
	url = ../hardware/nvidia/platform/t19x/mccoy-dts.git
[submodule "hardware/nvidia/platform/t23x/common"]
	path = hardware/nvidia/platform/t23x/common
	url = ../hardware/nvidia/platform/t23x/common-dts.git
[submodule "hardware/nvidia/platform/t23x/concord/kernel-dts"]
	path = hardware/nvidia/platform/t23x/concord/kernel-dts
	url = ../hardware/nvidia/platform/t23x/concord-dts.git
[submodule "hardware/nvidia/soc/t23x"]
	path = hardware/nvidia/soc/t23x
	url = ../hardware/nvidia/soc/t23x.git
[submodule "kernel/kernel-5.10"]
	path = kernel/kernel-5.10
	url = ../kernel/linux-5.10.git
[submodule "kernel/nvethernetrm"]
	path = kernel/nvethernetrm
	url = ../kernel/nvethernetrm.git
[submodule "tegra/kernel-src/nv-kernel-display-driver"]
	path = tegra/kernel-src/nv-kernel-display-driver
	url = ../open-gpu-kernel-modules.git
